@use '../abstracts/mixins' as *;
@use '../abstracts/variables'as *;

.publicité{
    @include flex-column;
    gap: 35px;
    width: 100%;    
}
.publicité p{
    font-size: 15px;
}
.pub-lien{
    @include flex-row;
    gap: 0.5rem;
}
.contact{
    @include flex-column;
    gap: 22px;
    width: 100%;  
}
.contact-details{
    @include flex-column;
    gap: 11px;
}
.contact-details p{
    font-size: 15px;
}
.juridique{
    @include flex-column;
    gap: 30px;
    width: 100%;
}


