@font-face {
    font-family: 'Play-medium';
    src: url('playFair/PlayfairDisplay-Medium.ttf'),
  }

  @font-face {
    font-family: 'Play-bold';
    src: url('playFair/PlayfairDisplay-Bold.ttf'),
  }

  @font-face {
    font-family: 'Karla-regular';
    src: url('Karla/Karla-Regular.ttf'),
  }

  @font-face {
    font-family: 'Karla-bold';
    src: url('Karla/Karla-Bold.ttf'),
  }